body{
  font-family: 'Questrial', sans-serif;
}

.imgPresent {
  background-image: url("../css/images/zardoz_black.png");
  width: 300px;
  height: 100px;
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
  clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
  align-self: center;
}

.imgPresent,.imgArticle{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.imgArticle {
  background-image: url("../css/images/zardoz_black.png");
  width: 250px;
  height: 250px;
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 50%);
clip-path: polygon(0 0, 0% 100%, 100% 50%);
;
}

.scrollmenu {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
}

.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.presentation h5 {
  font-size: 35px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center
}

.presentation p{
  font-size: 16px;
}

p {
  text-align: justify
}

h3{
  font-size: 40px;
}

nav {
  margin-bottom: 10px;
}

.jumbotron{
  margin: 10px;
}
