{% extends "skeleton.html.twig" %}

{% block headerNavBar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="top">
    <a class="navbar-brand" href="#top">Menu</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto fadeInDown">
        <li class="nav-item active">
          <a class="nav-link" href="{{path("userMain")}}">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{path("connexion")}}">Admin</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" placeholder="Search" type="text">
        <button class="btn btn-secondary my-2 my-sm-0 " type="submit">Search</button>
      </form>
    </div>
  </nav>
{% endblock headerNavBar %}

{% block bodyContent %}
{<h4>Categorie</h4>

{# <ul>
  {% for item in categories %}
    <li>
      <form>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="catCheck">
          <label class="form-check-label" for="catCheck">{{item}}</label>
        </div>
        <button>delete</button>
      </form>
    </li>
  {% endfor %}
</ul>

  <form method="POST">
    <input type="text" name="categorie">
    <button>add</button>
  </form> #} 

{% endblock bodyContent %}

{% block footer %}

<div class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Menu</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto fadeInDown">
        <li class="nav-item active">
          <a class="nav-link" href="#top">Haut de page
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{path("userMain")}}">Retour Home</a>
        </li>
      </ul>
    </div>
  </div>

{% endblock footer %}