{% extends "skeleton.html.twig" %} 

{% block headerNavBar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="top">
  <a class="navbar-brand" href="#top">Menu</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto fadeInDown">
      <li class="nav-item active">
        <a class="nav-link" href="{{path("adminMain")}}">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
{% endblock headerNavBar %}

{% block bodyContent %}

<form method="POST">
  <label>Admin username</label>
  <input type="text" name="pseudo">

  <label>mot de passe</label>
  <input type="text" name="mdpAdmin">
  <button>connexion</button>
</form>

<a href="">mot de passe oublié ?</a>

{% endblock bodyContent %}

{% block footer %}

<div class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Menu</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto fadeInDown">
        <li class="nav-item">
          <a class="nav-link" href="{{path("connexion")}}">Admin</a>
        </li>
      </ul>
    </div>
  </div>

{% endblock footer %}