{% extends "skeleton.html.twig" %}

{% block headerNavBar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="top">
  <a class="navbar-brand" href="#top">Menu</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto fadeInDown">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{path("adminMain")}}">Admin</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" placeholder="Search" type="text">
      <button class="btn btn-secondary my-2 my-sm-0 " type="submit">Search</button>
    </form>
  </div>
</nav>
{% endblock headerNavBar %}

{% block bodyContent %}
<div class="container-fluid">
  <div class="row">
    <div class="card col-md-4">
      <h3 class="card-header">MONSTERBLOG</h3>
      <div class="card-body">
        <h5 class="card-title">Bienvenue à tous !!!</h5>
      </div>

      <div class="imgPresent">
      </div>
      <div class="card-body">
        <p class="card-text filmtitle">LE GOLEM - Un film de Paul Wegener et Carl Boese</p>
      </div>
      <div class="offset-1 col-lg-10 offset-1 presentation">
        <h5 class="card-title">Présentation</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.          Similique esse voluptates eius incidunt dolores vitae sit
          voluptas culpa debitis, sequi illum amet expedita doloribus praesentium atque adipisci nobis et a? Lorem ipsum
          dolor sit amet consectetur adipisicing elit. Voluptate voluptates blanditiis quibusdam molestiae praesentium. Facilis
          dolore, necessitatibus cupiditate sint quasi, harum repellat omnis tempore rem amet consectetur laudantium enim
          quia.</p>
      </div>
    </div>
  

  <div class="card col-md-8">
    <div class="row">
{% for row in result %}
      <div class="col-12">
        <div class="jumbotron">
          <h1 class="display-3">{{row.title}}</h1>
          <p class="lead">{{row.secondTitle}}</p>
          <hr class="my-4">
          <p>{{row.resume}}</p>
          <p class="lead">
          <a class="btn btn-primary btn-lg" href="{{path('articleUser',{id:row.id})}}" role="button">Go sur l'article !</a>
          </p>
        </div>
      </div>
{% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock bodyContent %}

{% block footer %}
<div class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Menu</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto fadeInDown">
        <li class="nav-item active">
          <a class="nav-link" href="#top">Haut de page
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{path("adminMain")}}">Admin</a>
        </li>
      </ul>
    </div>
  </div>
  {% endblock footer %}